/potensi/.buildpath
/potensi/.project
/potensi/.settings/.jsdtscope
/potensi/.settings/org.eclipse.php.core.prefs
/potensi/.settings/org.eclipse.wst.jsdt.ui.superType.container
/potensi/.settings/org.eclipse.wst.jsdt.ui.superType.name
/potensi/report/reportNU/nbproject/private/
/potensi/report/reportNU/build/